@page "/"
@inject GameClients Client

<PageTitle>Game Catalog</PageTitle>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-2">
        <thead class="table-dark">
        <th>GameId</th>
        <th>Name</th>
        <th>Genres</th>
        <th class="text-end">Price</th>
        <th>Release Date</th>
        <th>Actions</th>
        </thead>
        <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.GameId</td>
                <td>@game.Name</td>
                <td>@game.Genre?.Name</td>
                <td class="text-end">@game.Price.ToString("C2")</td>
                <td>@game.ReleaseDate</td>
                <td>
                    <div class="d-flex">
                        <a class="btn btn-primary me-2" role="button" href="@GameUrl(game.GameId)">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button class="btn btn-danger" @onclick="() => ConfirmDelete(game.GameId)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<GameSummary> games;

    protected override async Task OnInitializedAsync()
    {
        games = await Client.GetGamesAsync();
    }

    private static string GameUrl(int id) => $"/editgame/{id}";

    private async Task ConfirmDelete(int gameId)
    {
        await Client.DeleteGameAsync(gameId);
        games = await Client.GetGamesAsync();
    }
}